.tree-node {
    padding-left: 0px;
}

.editor-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 100%;
    background: #eee;
    color: #222;
    font-size: 10pt;
    overflow-y: auto;
}

.editor-ace {
    position: absolute;
    top: 30px;
    left: 290px;
    width: calc(100% - 290px);
    height: calc(100% - 30px);
}

.editor-tabs {
    background: #eee;
    position: absolute;
    top: 0;
    left: 290px;
    width: calc(100% - 290px);
    height: 30px;
    color: #222;
}

.editor-tab {
    display: inline-block;
    border-bottom: 4px solid #333;
    height: 30px;
    position: relative;
}

.editor-current-tab {
    font-weight: 700;
    border-bottom: 4px solid #57f;
    height: 30px;
    color: #222;
}

.editor-tab-unsaved {
    font-style: italic;
}

.editor-tab-name {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 6px;
    display: inline-block;
}

.editor-tab-close {
    position: absolute;
    right: 4px;
    top: 3px;
}

.editor-tab-close:hover {
    color: #57f;
}

.editor {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}