.logo{
    height: 40px;
    margin-left: -5px;
    margin-top: -5px;
    width: auto;
}

.user-image {
    height: 30px;
    margin: -5px 5px;
}

.console-title {
    font-size: 13pt;
}

.navbar {
    border-radius: 0;
    height: 60px;
}

.main {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

.page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
}

.tab-editor, .tab-submissions {
    display: none;
}

.assignment {
    margin: 16px;
    padding: 0px;
}

.panel-footer {
    padding: 0;
    height: 30px;
}

.panel-btn { 
    border-radius: 0;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

.alert {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 16px;
    z-index: 10;
}

.submission-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    overflow-y: auto;
    background: #eee;
}

.submission-contents {
    position: absolute;
    height: calc(100% - 54px);
    left: 280px;
    top: 54px;
    width: calc(100% - 280px);
    padding: 10px;
    overflow-y: auto;
}

.submission-controls {
    position: absolute;
    width: calc(100% - 280px);
    height: 54px;
    top: 0;
    left: 280px;
}

.submission {
    font-size: 11pt;
    padding: 10px;
}

.subm-btn {
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 16px);
}

.results-passed {
    background: #dff0d8;
}

.results-failed {
    background: #f2dede;
}

.results-partial {
    background: #fcf8e3;
}

.modal-body div {
    padding-top: 3px;
    padding-bottom: 8px;
}

.results-table {
    text-align: right;
    width: 100%;
    margin-bottom: 16px;
}

.results-table thead th {
    text-align: right;
}

.filename {
    margin-top: 16px;
}

.submission:hover {
    background: rgba(0,0,0,0.05);
}

.submission-selected, .submission-selected:hover {
    background: rgba(0,0,0,0.1);
}

.course-info {
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
}

.update-course {
    z-index: 20;
    position: fixed;
    bottom: 8px;
    right: 8px;
}